form {
  margin: auto;
}

input{
  margin: 5px;
  width: 30%;
  border: 2px solid white;
  border-radius: 12px;
  font-size: 18px;
  background-color: #f5ebe0;
  height: 100px;
  /* box-shadow: 6px 8px 10px #BABD8D; */
}

button {
margin: 5px;
width: 30%;
border: .5px solid white;
border-radius: 18px;
font-size: 18px;
background-color: #d5bdaf;
height: 60px;
width: 90px;
/* box-shadow: 6px 8px 10px #BABD8D; */
}
